li{
    list-style-type: none;
    display: inline-block;          
}
 *{
    
     margin-left: 0%;
     padding-left: 0%;
     margin-top: 0%;
     margin-bottom: 0%;
 }
a{
   text-decoration: none;
   color: #5f6368;
}
a:hover{
   color: #5f6368;
   text-decoration: underline;
}
a:link{
    color:#5f6368;
}
a:visited{
    color: #5f6368;
}
a:active{
    color: #5f6368;
}


.menusag{
position:inherit;
float: right;
color: #5f6368;
/* margin-top: 15px; */
}
.menusol{
 float:left;
 color: #5f6368;
}
#menuimg{
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
}
#signin{
text-align: center;
width: 80px;
height: 25px;
color:white;
background-color: blue;
margin-top: 4px;
border:none;
padding-left: 10px;
padding-right: 10px;

}
.menusag2{
position:inherit;
float: right;
/* margin-top: 20px; */
padding-left: 10px;
padding-right: 10px;
padding-top: 6px;
color: #5f6368;
}
.menusag3{
position:inherit;
float: right;
padding-top: 6px;
padding-left: 10px;
padding-right: 10px;
color: #5f6368;
}
a:visited{
    color: #5f6368;
}
.menusol{
    color: #5f6368;
float: left;
/* margin-top: 20px;
margin-left: 15px; */
}.menusol2{

float: left;
/* margin-top: 20px; */
margin-left: 15px; 
}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin-top:10%; */
    /* padding-left: 130px; */
    /* float: center; */
    padding-top: 10%;
    padding-left:20rem;
    padding-right: auto; 
    /* display: fixed; */
  


   }
.menü{
    margin: auto;
    color: #5f6368;
}   
.search{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid lightgray;
    border-radius: 30px;
    width: 570px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    
   }
   
#search{
       width: 450px;
       height: 50px;
       /* margin-left: 0px; */
       /* border-radius: 40px 40px 40px 40px; */
     border:0.5px solid lightgray;
      border: none;
      /* border-right: none; */
      outline: none;

}
#searchlogo{ 
    width: 50px;
    height: 45px;
    border-radius: 40px 0px 00px 40px;
    /* border:1px solid lightgray; */
    border: none;
}
#google_microphone{
    
    width: 15px;
    height: 30px;
    border-radius: 0px 40px 40px 0px;
    /* border:1px solid lightgray; */
    border: none;
    padding-right: 1px;
    cursor:pointer;
}
.search2{       
    text-align: center;
  
  
   
}
#btn1{
height: 36px;
width: 120px;
border: hidden;
border-radius: 4px;
color: #5f6368;
margin-right: 8px;

}

#btn2{
    height: 36px;
width: 120px;
border: hidden;
border-radius: 4px;
color: #5f6368;
margin-right: 8px;
}
.translate{
    text-align: center;
    /* font-size: small; */
    /* margin-bottom: ; */
    padding-bottom: 200px;
    position: relative;

}
#translate2
{
    text-decoration: underline;
    color:blue;
    
}
.altsıra{
  
   color: #5f6368;
   background-color: #f2f2f2;
   display: inline-block;
   padding-top: 1rem;
    margin: 0%;
    width: 100%;
    padding-bottom: 0%;
    
}
.turkey{
   background-color: #f2f2f2;
   color: #5f6368;
   border-bottom: 1px solid #e4e4e4; 
   /* margin-bottom: 0%; */
   /* height: 20px; */
   position: relative;
   padding-bottom: 0.5rem;
   vertical-align: middle;
   padding-top: 4px;
   
}
footer{
    display: fixed;
}

.altsıra2{
    /* padding-top: 0%;
    margin-top: 0%; */
    float: left;
    padding-right: 5px;
    
   
    /* display: inline-block; */
}
.altsıra3{
    /* padding-top: 0%;
    margin-top: 0%; */
    float:right;
    padding-right: 5px;
    /* display: inline-block; */
}
.altsıra4:hover{
    color: #5f6368;

}
.altsıra4{
    color: #5f6368;
    padding-bottom: 0.5rem;

  
}
.altsıra:visited{
    color: #5f6368;
}
.altsıra:link{
    color: #5f6368;
}
.altsıra{
    padding-top: 3px;
}


  